.restHistory {
  padding: 0 10%;

  h3 {
    padding-bottom: 15px;
    padding-left: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  a {
    font-size: 18px;
    color: var(--color-tertiary);
    text-decoration: none;
    cursor: pointer;
    text-wrap: nowrap;

    &:hover {
      text-decoration: underline;
    }
  }
}
