.response-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
}

.h2 {
  font: var(--text-header-l);
  color: var(--color-secondary);
  align-self: center;
}

@media (width<800px) {
  .response-section {
    width: 100%;
  }
}
