.response-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding: 10px;
}

.h2 {
  font: var(--text-bold-m);
  font: var(--text-bold-m);
  color: var(--color-secondary);
  align-self: center;
}

@media (width<800px) {
  .response-section {
    width: 100%;
  }
}

@media (width<800px) {
  .response-section {
    width: 100%;
  }
}
