.restCard {
  border: 1px solid var(--color-neutral);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 5%);
  transition: 0.1s;

  &:hover {
    background-color: rgba(255, 255, 255, 10%);
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__method {
    font-size: 20px;
    flex-grow: 1;
  }
}
