.functional-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45%;
  padding: 10px;
}

.wrapper-button {
  display: flex;
  justify-content: space-between;
}

.h2 {
  font: var(--text-header-s);
  color: var(--color-secondary);
  align-self: center;
}

@media (width<800px) {
  .functional-editor {
    width: 100%;
  }
}
