.rest {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  &__row {
    width: 500px;
    display: flex;
    margin-bottom: 20px;
  }

  &__method {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid var(--border-color);
    border-right-width: 0;
    transition: 0.3s;

    padding: 8px 6px;

    background-color: #3f3f3f;

    &:hover {
      background-color: #636363;
    }
  }

  > textarea {
    width: 500px;
    height: 300px;
    background-color: var(--background-color);
    padding: 10px;
  }

  input,
  button,
  textarea,
  select {
    outline: none;
    color: var(--color);
  }

  button {
    border: 1px solid var(--border-color);
    cursor: pointer;
    padding: 0 20px;
    border-radius: 8px;
    background-color: #3f3f3f;
    transition: 0.3s;

    &:hover {
      background-color: #636363;
    }
  }

  &__url {
    background-color: var(--background-color);

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    border: 1px solid var(--border-color);
    border-left-width: 0;
    padding: 8px 6px;
    width: 400px;
    margin-right: 10px;
  }
}
